.ShutdownScreenContainer {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.ShutdownScreenTitle {
    font-family: var(--primary-font-family);
    font-size: 18pt;
    color: var(--primary-active-text-color);
    padding-top: 10px;
    text-align: center;
}

.ShutdownScreenSubTitle {
    font-family: var(--primary-font-family);
    font-size: 14pt;
    color: var(--alternate-active-text-color);
    padding-top: 10px;
    text-align: center;
}