.UpdateSnackbarContainer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    box-shadow: 5px 5px 10px 0px #111;
    z-index: 21;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: bottom 1s;
    background: rgb(0, 120, 200);
}

.UpdateSnackbarContainer[data-isopen*="false"] {
    bottom: -100%;
    transition: bottom 1s;
}

.UpdateSnackbarHorizontalFlexContainer {
    width: 100%;
    min-height: 50px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.UpdateSnackbarMessageContainer {
    flex-grow: 1;
    padding: 5px;
    margin-left: 5px;
    margin-right: 10px;
    width: 250px;
}

.UpdateSnackbarIcon {
    flex-shrink: 1;
    fill: #000;
    width: 32px;
    height: 32px;
    margin-left: 10px;

}

.UpdateSnackbarButtonContainer {
    flex-shrink: 1;
}

.UpdateSnackbarMessage {
    font-family: var(--primary-font-family);
    color: #FFF;
}
