* {
  margin: 0px;
  padding: 0px;
}

#root {
  /* Colors */
  --primary-color: rgb(27, 27, 27);
  --background-color: #000000; 
  --surface-color:  rgb(17, 17, 17);
  --surface-color-alternate: rgb(27, 27, 27);
  --primary-button-background-image: linear-gradient(to bottom,rgba(68,68,68,0.50),rgba(60,60,60,0.50));

  background: var(--primary-color);
  
}


.SidebarProjectFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}

.SidebarFlexItemContainer {
  flex-shrink: 0.15;
}

.ProjectFlexItemContainer {
  flex-grow: 1;
}


::-webkit-scrollbar {
  background: rgba(51,51,51,255);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(77,77,77,255);
}