* {
  margin: 0px;
  padding: 0px;
}

#root {
  --primary-color: hsla(0, 0%, 15%, 1);
  --background-color: #000000;
  --surface-color: hsla(0, 0%, 7%, 1);
  --surface-color-alternate: #1b1b1b;
}

.SidebarProjectFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}

.SidebarFlexItemContainer {
  flex-shrink: 0.15;
}

.ProjectFlexItemContainer {
  flex-grow: 1;
}


::-webkit-scrollbar {
  background: rgba(51,51,51,255);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(77,77,77,255);
}