body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  font-family: open-sans;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* Stop iOS dimming on touch down */
}

#root {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  background: #272727;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #474747;
  width: 8px;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}