.CalendarPopupContainer {
    background: var(--surface-color-alternate);
    height: auto;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid #FFF;
}

.CalendarGrid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: [shortcuts]1fr [daypicker]1fr;
    grid-column-gap: 10px;
}

.ShortcutsColumn {
    grid-column: shortcuts;
    justify-content: start;
    align-self: flex-start;
}

.DayPickerColumn {
    grid-column: daypicker;
    justify-self: center;
    align-self: center;
}

.CalendarHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

.DateLabel {
    color: white;
    flex: 1;
}

.PriorityToggle {
    flex-shrink: 1;
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 5px;
    cursor: default;
}

.PriorityToggle[data-ishighpriority*=true] {
    color: var(--important-color);
    font-weight: 600;
}

.CalendarShortcutsContainers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.ShortcutItemContainer {
    flex: 1;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    cursor: default;
    padding: 0px 5px 0px 10px;
}

.CalendarShortcutHorizontalSpace {
    flex-shrink: 1;
    width: 20px;
}

.ShortcutItemContainer:hover {
    background: rgba(52,52,52,255);
}


.CalendarShortcutItemLabel {
    flex: 1;
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: #FFF;
    padding: 5px 0px 5px 0px;
    text-align: left;
}

.CalendarShortcutDaysInput {
    flex: 1;
    max-width: 50px;
    font-family: 'Segoe UI', Lucinda Sans, Geneva, Verdana, sans-serif;
    color: #FFF;
    background: var(--surface-color-alternate);
    text-align: center;
    border: 1px solid gray;
}

.CalendarShortcutApplyButtonContainer {
    flex: 1;
}

.CalendarAssignToContainer {
    width: 100%;

}

.CalendarAssignToHeaderContainer {

}

.CalendarMembersContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.CalendarMember {
    flex-shrink: 1;
    height: 25px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5px;
    margin: 10px;
}

.CalendarMemberName {
    flex-shrink: 1;
    color: var(--primary-inactive-text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    user-select: none;
    cursor: default;
}

.CalendarMemberName[data-isselected*="true"] {
    color: var(--primary-active-text-color);
}

.CalendarAssignToHeader {
    color: var(--alternate-active-text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
}
