.ProjectContainer {
    float: left;
    width: 100%;
    height: 1080px;
    margin: 0px;
}

.Project {
    background: rgba(0,0,0,255);
    width: 100%;
    height: 100%;
    margin: 0px;
    float: left;
}

.ProjectToolBar {
    background: rgba(20,20,20,255);
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 30px;
}

