.ProjectContainer {
    float: left;
    width: 100%;
    height: 1080px;
    margin: 0px;
}

.Project {
    background: var(--background-color);
    width: 100%;
    height: 100%;
}

.ProjectHidden {
    visibility: hidden;
}

.ProjectToolBar {
    background: var(--primary-color);
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    padding-top: 30px;
}

