.ProjectGrid {
    display: grid;
    grid-template-rows: [Toolbar]min-content [Content]auto;
    height: 100%;
}

.ProjectGridItem {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: var(--background-color);
}

.ProjectContent {
    
    width: 100%;
    height: 100%;
}

.ProjectRGL {
    width: 100%;
    background: purple;
}

.ProjectHidden {
    visibility: hidden;
}

.ProjectToolBarGridItem {
    grid-row: Toolbar;
    background: var(--primary-color);
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
}

