.ShutdownScreenContainer {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.ShutdownScreenOuter {
    display: table;
    width: 100%;
    height: 100%;
}

.ShutdownScreenInner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.ShutdownScreenCentered {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 1em;
}

.ShutdownScreenSpinner {
    border: 6px solid darkgray;
    border-top: 6px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ShutdownScreenTitle {
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    color: #EEE;
    text-align: center;
}