.SideBarToolbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-Size: 16pt;
    color: #FFF;
    cursor: pointer;
}

.Sidebar {
    background: rgba(37,37,37,255);
    width:15%;
    height: 1130px;
    float: left;
    margin-top: 30px;
}