.SidebarToolbarContainer {
    height: 30px;
}

.SidebarToolbarFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.SidebarOpen {
    position: relative; /* So .SidebarCollapseButtonContainer absolute position Works */
    background: var(--primary-color);
    width: 250px;
    height: 1130px;
    float: left;
    margin-top: 30px;
    -webkit-user-select: none;
    user-select: none;
    transition: width 200ms ease-out;
}

.SidebarCollapsed {
    position: relative; /* So .SidebarCollapseButtonContainer absolute position Works */
    background: var(--primary-color);
    width: 25px;
    height: 1130px;
    float: left;
    margin-top: 70px;
    -webkit-user-select: none;
    user-select: none;
    transition: width 200ms ease-in;
}

.CollapsedProjectTitle {
    color: #CCC;
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    line-height: 18pt; /* To Push the text away from the Screen Border a little bit */
    transform: rotate(-90deg);
    transform-origin: left top 0;
    word-wrap: none;
    position: absolute;
    top: 50vh;
    width: 60vh;
    height: fit-content;
    user-select: none;
    cursor: default;
}


.SidebarCollapseButtonContainer {
    position: absolute;
    right: 0px;
    top: 50vh;
}

.SidebarCollapseButtonOpen {
    height: 50px;
    width: 15px;
    text-align: center;
}

.SidebarCollapseButtonCollapsed {
    display: none;
    height: 50px;
    width: 25px;
    text-align: center;
}

.SidebarCollapseButtonIcon {
    display: inline-block;
    height: 50px;
    width: 15px;
    margin: auto;
}

.ProjectSelectorsContainerOpen {
    display: block;
    margin-top: 0px;
}

.ProjectSelectorsContainerCollapsed {
    display: none;
}


