.TaskInspector {
    position: relative;
    background: var(--surface-color-alternate);
    border: 1px solid gray;
    height: 100vh;
}

.TaskInspectorGrid {
    display: grid;
    grid-template-columns: [Calendar]1fr [CommentPanel]1fr [Notes]1fr;
    grid-template-rows: [Toolbar]36px 1fr 1fr;
}

.TaskInspectorToolbarContainer {
    grid-column: Calendar / span 3;
    grid-row: Toolbar;
    justify-self: end;
    align-self: center;
}

.TaskInspectorCloseIcon {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    margin-top: 10px;
}

.TaskInspectorCalendarContainer {
    grid-column: Calendar;
    grid-row: 2;
    justify-self: stretch;
    align-self: stretch;
}

.TaskInspectorCommentPanelContainer {
    grid-column: CommentPanel;
    grid-row: 2;
    justify-self: stretch;
    align-self: stretch;
}

.TaskInspectorNotesContainer {
    grid-column: Notes;
    grid-row: 2;
    display: grid;
    grid-template-rows: min-content auto;
    justify-self: stretch;
    align-self: stretch;
}

.TaskInspectorMetadataContainer {
    grid-column: Calendar / span 3;
    grid-row: 3;
    justify-self: stretch;
    align-self: stretch;
}

.TaskNotePanel {
    background: var(--surface-color-alternate);
    color: var(--primary-active-text-color);
    font-family: var(--primary-font-family);
    resize: none;
    margin: 0px 10px 10px 10px;
}