.TaskTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 2;
  -webkit-user-select: none;
  user-select: none;
}

.TaskText {
  font-Family: segoe UI;
  color: #FFF;
  font-Size: 14pt;
  margin-left: 5px;
}

.Fade {
  opacity: 0.25;
}

.TaskTextInput {
  width: 300px;
}