.ToolBarButton {
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    font-size: 36px;
    width: 36px;
    height: 36px;
    color: #FFF;
    margin: 5px;
    cursor: pointer;
}

.ToolBarButtonSeparator {
    height: 100%;
    margin: 0px 20px 0px 20px;
}