.ToolBarFlexContainer {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
}

.ToolBarButtonContainer {
    flex-grow: 0;
    height: 27px;
    width: 62px;
    margin: 4px;
    padding: 4px;
    background-image: linear-gradient(to bottom,rgba(68,68,68,0.50),rgba(60,60,60,0.50));
    cursor: pointer;
    border-radius: 2px;
}

.ToolBarButtonContainer:hover {
    background-image: linear-gradient(to bottom,rgba(68,68,68,0.75),rgba(60,60,60,0.75));
}

.ToolBarButton {
    width: 100%;
    height: 100%;
    color: #FFF;
    cursor: pointer;
    opacity: 0.75;
    text-align: center;
}

.ToolBarButton:hover {
    opacity: 1;
}


.ToolBarFloatRightContainer {
    align-self: flex-end;

}

.ToolBarFlexDivider {
    flex-grow: 2;
}

.LockButton {
    width: 36px;
    height: 36px;
    color: #FFF;
    cursor: pointer;
    opacity: 0.6;
}

.ToolBarButtonSeparator {
    height: 100%;
    margin: 0px 20px 0px 20px;
}