.AppSettingsMenuSubtitleContainer {
    width: 100%;
}

.AppSettingsMenuSubtitle {
    display: inline;
    color: #CCC;
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    text-align: center;
}