/* Window Layout */

.AppSettingsMenuContainer {
    position: relative;
    background: var(--primary-color);
    border: gray 1px solid;
    margin-top: -25%;
    width: 700px;
}

.AppSettingsMenuSidebarContentFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}

.AppSettingsMenuSidebarContainer {
    flex-shrink: 1;
    width: 100px;
}

.AppSettingsMenuContentContainer {
    flex: 1;
    width: 100%;
    background: var(--surface-color);
    padding: 10px;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.AppSettingsMenuFooterContainer {
    width: 100%;
    height: 48px;
}

.AppSettingsMenuFooterFloatContainer {
    float: right;
}

/* Page Content */
.WaitingOnDatabaseOverlay {
    position: absolute;
    z-index: 15;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
}


.AppSettingsVerticalFlexContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
}

.AppSettingsVerticalFlexItem {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 5px 0px 5px 0px;
}

.AppSettingsHorizontalFlexItem {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 10px 5px 10px;
}

.AccountSettingsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.LogInContainer {
    flex-shrink: 4;
    width: 100%;
}

.AccountSettingsActionsContainer {
    flex-grow: 1;
    height: fit-content;
    width: 100%;
}

.AppSettingsItemLabel {
    color: var(--primary-active-text-color);
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    line-height: 10pt;
}

.AppSettingsItemHint {
    color: var(--alternate-active-text-color);
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    line-height: 10pt;
}

.AppSettingsItemInput {
    margin: 0px;
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    background: var(--surface-color-alternate);
    color: var(--primary-active-text-color);
    border: gray 1px solid;
    padding: 2px;
}

.AppSettingsItemInput {
    margin: 0px;
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    background: var(--surface-color-alternate);
    color: var(--primary-active-text-color);
    border: gray 1px solid;
    padding: 2px;
}

input.AppSettingsItemInput[type*="number"] {
    width: 40px;
    text-align: center;
}

.AppSettingsItemInput[data-isvalid*="false"] {
    border: red 1px solid;
    user-select: none;
}

.AppSettingsAccountInput {
    margin-top: 5px;
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    background: var(--surface-color-alternate);
    color: var(--alternate-active-text-color);;
    border: gray 1px solid;
    padding: 1px;
    width: 220px;
}

.DatabaseSettingsPageInfoPane {
    width: 500px;
    min-height: 260px;
    margin: 10px 0px;
    resize: none;
    vertical-align: middle;
    font-size: 9pt;
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    color: var(--primary-active-text-color);
    background: var(--surface-color-alternate);
    border: 0px solid #FFF;
    padding: 5px;
}

.DatabaseRestoringStatusMessage {
    background: var(--surface-color);
    color: var(--primary-active-text-color);
    width: 400px;
    height: 200px;
    overflow-y: scroll;
}

.FavouriteProjectSelect {
    background: var(--surface-color-alternate);
    color: var(--primary-active-text-color);
}

.AppSettingsAccountLogo {
    width: 90px;
    height: 90px;
}

.AppSettingsAccountStatus {
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    min-height: 42px;
    color: var(--alternate-active-text-color);
}

.AppSettingsAccountDisplayName {
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    margin-top: 10px;
    height: 20px;
    color:var(--alternate-inactive-text-color);
}

.AppSettingsAccountEmailDisplay {
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    height: 20px;
    color:var(--alternate-inactive-text-color);
} 

.AppSettingsAccountEmailContainer {
    margin-top: 25px;
}

.AppSettingsAccountDisplayNameContainer {
    margin-top: 10px;
}

.AppSettingsAccountPasswordContainer {
    margin-top: 10px;
}

.AppSettingsAccountItemLabel {
    color: var(--alternate-active-text-color);
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    line-height: 10pt;
}

.AppSettingsAccountButtonsFlexContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.GeneralSettingsHighlightButton {
    width: 20px;
    height: 20px;
    border: 1px solid white;
}

.CSSSelectorsRowGrid {
    flex-grow: 0;
    display: grid;
    grid-template-columns: [label]2fr [value]1fr [defaultbutton]2fr;
    grid-column-gap: 10px;
    margin-bottom: 10px;
}

.CSSSelectors-label {
    grid-column: label;
    justify-self: start;
    align-self: center;
}

.CSSSelectors-value {
    grid-column: value;
    justify-self: start;
    align-self: center;
}

.CSSSelectors-defaultbutton {
    grid-column: defaultbutton;
    justify-self: start;
    align-self: center;
}

.ResetColorSettingsLink {
    color: var(--alternate-inactive-text-color);
    font-size: 10pt;
    line-height: 10pt;
    text-decoration-line: underline;
    cursor: default;
}

.ResetColorSettingsLink:hover {
    color: var(--alternate-active-text-color);
    cursor: default;
}



/* Centering */
.AppSettingsOuter {
    display: table;
    width: 100%;
    height: 100%;
}

.AppSettingsInner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.AppSettingsCentered {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 50vh;
    padding: 1em;
}